.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
  gap: 20px;
  padding: 10px;
  justify-content: center;
}

.homeCont,
.searchCont {
  color: #333;

  font-size: 18px;
  border-radius: 8px;
}

/* Стили для активного состояния при наведении */
/* p:active {
  color: rgb(255, 165, 0);
  font-weight: bold;
} */
